/node_modules
/public/hot
/public/storage
/public/document
/public/img
/public/messagefile
/public/messages
/public/organization
/public/orgImage
/public/paymentqrcode
/public/product
/public/profile
/public/upload-image
/public/qrcode
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
